* {
    margin: 0;
    padding: 0;
     text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: beige;
}
h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.choice:hover {
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    
}

.choice {
    height: 200px;
    width: 200px;
     display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 190px;
    width: 190px;
    object-fit: cover;
    border-radius: 50%;
}
   
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
    margin-top: 3rem;
}

#user-score, #comp-score {
    font-size: 3rem;
    font-weight: bold;
}

.msgContainer {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
    
}

#message {
    display: inline;
    background-color: #081b31;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
}
